body[theme="light"] {
    --main-text: black;
    --main-bg: white;

    --main-btn-text: white;
    
    --main-border: rgb(46, 44, 44);
    
    --main-text-hover: #000;
    --main-hover: rgb(255, 214, 214);
    
    --main-gray: rgb(88, 88, 88);
    --main-whitegray: rgb(112, 112, 112);
    --main-lightgray: rgb(237 237 237);
    --main-lightestgray: rgb(245, 245, 245);
    --main-purple: rgb(155, 51, 173);
    --main-purple-hover: rgb(196, 58, 221);
    --main-red: rgb(255 49 49);
    --main-red-highlight: rgb(255, 0, 0);
}

body[theme="dark"] {
    --main-text: white;
    --main-bg: rgb(14, 13, 22);
    --main-link: rgb(85, 26, 139);
    
    --main-btn-text: white;
    
    --main-border: rgb(46, 44, 44);
    
    --main-text-hover: #000;
    --main-hover: rgb(255, 214, 214);
    
    --main-gray: rgb(100, 100, 100);
    --main-whitegray: rgb(180, 171, 171);
    --main-lightgray: rgb(70, 70, 70);
    --main-lightestgray: rgb(50, 50, 50);
    --main-purple: rgb(155, 51, 173);
    --main-purple-hover: rgb(196, 58, 221);
    --main-red: rgb(184, 37, 37);
    --main-red-highlight: rgb(255, 0, 0);
}

:root {
    --max-width: 1080px;
    --list-wrap: 1 0 40%;
}

@media only screen and (max-width: 1000px) {
    :root {
        --chart-wrapper-orientation: column;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --header-font-size: 1em;
        --list-wrap: 1 0 100%;
        --user-list-orientation: column;
        --search-width: 200px;
    }

    .workspaces {
        display: none !important;
    }

    .content-wrapper[action="newmember"] .workspace-user-list {
        display: none !important;
    }

    .content-container {
        border-top: none !important;
    }

    .workspace-user-list {
        display: flex;
        flex-direction: column;
        padding: 0 0 8px 0;
        box-shadow: inset 0px -2px 0px 0px var(--main-lightgray);
        gap: 8px;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --test: rgb(239, 190, 250);
        --header-font-size: 2em;
        --user-list-orientation: row;
    }

    .workspace-user-list {
        min-height: 384px;
        width: 300px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2rem 0 0;
        box-shadow: inset -2px 0px 0px 0px var(--main-lightgray);
        gap: 8px;
    }

    
    .user-todo-list .todo:nth-child(odd):after {
    content: '';
    position: absolute;
    height: 100%;
    right: -10px;
    border-right: 2px solid var(--main-gray);
    border-radius: 8px;
  }
}